<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo"><img src="../assets/icons/pb_logo_white.svg" alt="logo"></div>

    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="搜索全部" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard"> -->
      <ul>
        <li nz-menu-item>
          <a [routerLink]="['/pages/folder']"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>最近</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['/pages/folder']"><i nz-icon nzType="container" nzTheme="fill"></i>全部</a>
        </li>
      </ul>
      <!-- </li> -->
      <li nz-submenu nzMatchRouter nzOpen nzTitle="控制台" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a><i nz-icon nzType="user" nzTheme="outline"></i>用户管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a><i nz-icon nzType="usergroup-add" nzTheme="outline"></i>角色管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a><i nz-icon nzType="line-chart" nzTheme="outline"></i>API调用情况</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/pages/logs']"><i nz-icon nzType="bar-chart" nzTheme="outline"></i>日志记录</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <button nz-button nzType="primary" class="btn-margin"><i nz-icon nzType="download"></i>上传</button>
        <button nz-button class="btn-margin"><i nz-icon nzType="plus" nzTheme="outline"></i>新建文件夹</button>
        <nz-button-group>
          <button nz-button><i nz-icon nzType="cloud-download" nzTheme="outline"></i>下载</button>
          <button nz-button (click)="createComponentModal()"><i nz-icon nzType="scissor"
              nzTheme="outline"></i>移动到</button>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType="ellipsis"
              nzTheme="outline"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><i nz-icon nzType="share-alt" nzTheme="outline"></i>分享</li>
              <li nz-menu-item><i nz-icon nzType="edit" nzTheme="outline"></i>重命名</li>
              <li nz-menu-item><i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#f5222d"></i>删除</li>
            </ul>
          </nz-dropdown-menu>
        </nz-button-group>
        <div class="header-right">
          <span class="header-account" nz-dropdown nzTrigger="click" [nzDropdownMenu]="userAccountMenu">
            <nz-avatar nzIcon="user" [nzSrc]="user?user.avatar:''"></nz-avatar>
            <span class="header-account-name">{{user?user.name:''}}</span>
          </span>
          <nz-dropdown-menu #userAccountMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><i nz-icon nzType="setting" nzTheme="outline"></i>个人设置</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i>退出登录</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
